html {
  background-color: #F9CBDC;
}
li {
  font-size: 30px;
  font-family: 'Cookie', cursive;
}
.navbar {
  color: #FFF;
  background-color: #FFF;
  border-top-left-radius:30px;
border-bottom-left-radius:30px;
border-top-right-radius:30px;
border-bottom-right-radius:30px;
margin-top: 10px;
}
.navbar-brand {
  float: right;
margin-left: 50px;
}

.nav-pills .nav-link.active  {
  color: #FFF;
  background-color: #5FA5C4;

}
.nav-pills a:hover {
  background-color: rgba(116, 168, 210, 0.62);
}
.navbar-brand a:hover {
  background-color: #FFF;
}

 .btn {
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #FF99C0;
  color: white;
  font-size: 20px;
  padding: 12px 24px;
  border: none;
  cursor: pointer;
  border-radius: 30px;
}
.haha {
  height: 750px;
  width: 1080px;
  display: flex;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
  align-items: center;
  border-radius: 30px;
  border-style: outset;
  border-color: #5F93C4;
}
.center {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: 'Poppins', sans-serif;
  font-size: 50px;
  color: #FFF;
}
.lol {
  font-family: 'Poppins', sans-serif;
}
.bowbow {
  height: 800px;
  width: 900px;
  border-radius: 30px;
  margin-bottom: 10px;
  margin-left: 40px;
  border-style: outset;
  border-color: #5F93C4;
}
address {
  margin-left: 300px;
  margin-top: 30px;
  font-size: 14px;
}
.navifoot {
  margin-top: 30px;
  margin-bottom: 30px;
  color: black;
margin-left: 300px;
font-size: 14px;
}
.footey {
  background-color: #5FA5C4;
  position: flex;
  margin-top: 10px;
  font-size: 14px;
}
.footey li {
    font-family: 'Poppins', sans-serif;
    list-style-type: none;
    font-size: 14px;
}
.footey a {
  text-decoration: none;
  color:black
}
.footey a:hover {
  color: white;
}

.container .aye{
  background-color: #F9CBDC;
}
#more
{display: none;}

body {
  background-color: #F9CBDC;
}
.hehe {
  height: 490px;
  width: 367px;
  border-radius: 30px;
  margin-left: 10px;
  margin-top: 35px;
}
.about-me  {
  text-align: left;
}
.about {
  font-family: 'Cookie', cursive;
  text-align: center;
  border-style: dotted;
  border-color: #0C73A0;
  border-width: 5px;
  margin-top: 35px;
  border-radius: 20px;
  margin-left: 160px;
  min-width: 200px;
  max-width: 450px;
}
p {
  font-size: 20px;
  text-indent: 5%;
  font-family: 'Poppins', sans-serif;
}
.tay {
  border-radius: 30px;
  height: 200px;
  margin-top: 40px;
  margin-left: 600px;

}
.eva {
  border-radius: 50%;
  margin-top: 50px;
  margin-right: 900px;
}
.cake1 {
  display: flex;
  height: 450px;
  margin-top: 70px;
  margin-left: 60px;
  margin-right: auto;
  align-items: center;
border-radius: 30px;
}
.cake2 {
  display: flex;
  margin-top: 20px;
  border-radius: 30px;
  margin-left: auto;
  margin-right: 40px;
  margin-bottom: 20px;
}
.cake3 {
  display: flex;
  height: 600px;
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
  align-items: center;
  border-radius: 30px;
}
