html {
  background-color: #F9CBDC;
}
li {
  font-size: 30px;
  font-family: 'Cookie', cursive;
}
.navbar {
  color: #FFF;
  background-color: #FFF;
  border-top-left-radius:30px;
border-bottom-left-radius:30px;
border-top-right-radius:30px;
border-bottom-right-radius:30px;
margin-top: 10px;
}
.navbar-brand {
  float: right;
margin-left: 50px;
}

.nav-pills .nav-link.active  {
  color: #FFF;
  background-color: #5FA5C4;

}

.container .btn {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  background-color: white;
  color: white;
  font-size: 18px;
  padding: 12px 24px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  text-align: center;
  font-family: 'Quicksand', sans-serif

}
.haha {
  height: 550px;
  width: 750px;
  display: flex;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  align-items: center;
  border-radius: 30px;
  border-style: outset;
  border-color: #5F93C4;
}
.center {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: 'Poppins', sans-serif;
  font-size: 45px;
  color: #FFF;
}
.container{
  background-color: #F9CBDC;
}
body {
  background-color: #F9CBDC;
}
.hehe {
  height: 490px;
  width: 367px;
  border-radius: 30px;
  margin-left: 10px;
  margin-top: 35px;
}
.about-me  {
  text-align: left;
}
.about {
  font-family: 'Cookie', cursive;
  text-align: center;
  border-style: dotted;
  border-color: #0C73A0;
  border-width: 5px;
  margin-top: 35px;
  border-radius: 20px;
  margin-left: 160px;
  min-width: 200px;
  max-width: 450px;
}
p {
  font-size: 20px;
  text-indent: 5%;
  font-family: 'Poppins', sans-serif;
}
.tay {
  border-radius: 30px;
  height: 200px;
  margin-top: 40px;
  margin-left: 600px;

}
.eva {
  border-radius: 50%;
  margin-top: 50px;
  margin-right: 900px;
}
.cake1 {
  display: flex;
  height: 450px;
  margin-top: 70px;
  margin-left: 60px;
  margin-right: auto;
  align-items: center;
border-radius: 30px;
}
.cake2 {
  display: flex;
  margin-top: 20px;
  border-radius: 30px;
  margin-left: auto;
  margin-right: 40px;
  margin-bottom: 20px;
}
.cake3 {
  display: flex;
  height: 600px;
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
  align-items: center;
  border-radius: 30px;
  border-style: inset;

}
